{% extends 'base.html.twig' %}

{% block css %}
{% endblock %}

{% block body %}
    <main class="container rooms">
        <section>
            <h2 class="rooms__title">- Apartament 2-osobowy, przystosowany również dla osób niepełnosprawnych, z łożem małżeńskim o wymiarach 160cm x 200cm</h2>
            <img src="{{ asset('build/img/2.jpg') }}" alt="apartment">
        </section>
        <section>
            <h2 class="rooms__title">- 3 pokoje z łóżkiem o wymiarach 160 cm x 200 cm</h2>
            <img src="{{ asset('build/img/3.jpg') }}" alt="apartment">
        </section>
        <section>
            <h2 class="rooms__title">- 15 pokoi 2-osobowych z łóżkami o wymiarach 90 cm x 200 cm</h2>
            <img src="{{ asset('build/img/1.jpg') }}" alt="rooms">
        </section>
    </main>
{% endblock %}

{% block js %}
{% endblock %}




